################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TCP_test_client
/.vs/TCP_test_client/v15/Server/sqlite3/storage.ide-wal
/.vs/TCP_test_client/v15/Server/sqlite3/storage.ide-shm
/.vs/TCP_test_client/v15/Server/sqlite3/storage.ide
/.vs/TCP_test_client/v15/Server/sqlite3/db.lock
/.vs/TCP_test_client/v15/.suo
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
